body {
    height: 100vh;
background-color: aliceblue;
    margin: 0;
    background-size: 300% 300%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
    
}

.card-box {
    background: #3638923f;
    padding: 35px;
    width: 100%;    
    max-width: 450px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgb(22, 26, 71);
    backdrop-filter: blur (12px);
}

.card-box h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-group-text {
    background: #fdf8f8c0;
}

.btn-main {
    width: 100%;
    background: #36aa63;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-main:hover {
    background: #0f6e02ad;
}

a {
    color: #000205;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
